.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    height: 60px;
}

.Route-link {
    text-decoration: none;
    transition: all 0.05s;
    width: 130px;
    height: 20px;
    position: relative;
    transform-origin: right;
    border-bottom: solid;
    border-color: white;
}

.Route-link h2 {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    color: var(--font-color-1);
    font-size: 20px;
    margin: 0;
}

.Route-active {
    -webkit-transform: rotate(-17deg);
}

.Route-active h2 {
    transition: all 0.3s ease-in;
    transform: translateX(0);
    left: 0;
}