.Footer {
    /*background: linear-gradient(135deg, var(--background-color) 500px, var(--gradient-color-2));*/
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s;
    transform: translateY(110%);
}

.Active {
    display: inline-block;
    transform: translateY(0%);
    box-shadow: 0px 2px 10px black;
}

.Range-cont {
    transform: translateY(-50%);
    position: fixed;
    width: 100%;
}

.Player-cont {
    height: 30px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 15px;
}

.Noise {
    height: 100%;
    width: 3000px;
    left: 300px;
    position: absolute;
    background: var(--gradient-color-1);
    z-index: -1;
}

.Noise::before {
    content: "";
    display: block;
    height: 100%;
    background: var(--background-color);
    filter: contrast(100%) brightness(100%);
    -webkit-mask: linear-gradient(270deg, #0000 2600px, #000 2990px, #000 3000px), url(https://grainy-gradients.vercel.app/noise.svg);
    mask: linear-gradient(270deg, #0000 2600px, #000 2990px, #000 3000px), url(https://grainy-gradients.vercel.app/noise.svg);
}

/*.Overlay {
    background: var(--background-color);
    mix-blend-mode: multiply;
}*/

.Player-icon {
    width: 10px;
    margin: 0 15px 0 15px;
}

.Player-img {
    height: 100%;
    border-radius: 3px;
}

.Row-flex {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.Time-cont {
    margin: 0 2px 0 2px;
}

.Ellipsis {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2px;
    float: left;
    outline: none;
    background: rgba(247, 247, 247, 0);
    background-image: linear-gradient(black, black);
    background-size: 24.5% 100%;
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0);
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}