.Footer {
    background: linear-gradient(90deg, grey, black);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s;
    transform: translateY(100%);
}

.Active {
    display: inline-block;
    transform: translateY(0%);
}

.Range-cont {
    transform: translateY(-50%);
    position: fixed;
    width: 100%;
}

.Player-cont {
    height: 30px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 15px;
}

.Player-icon {
    width: 10px;
    margin: 0 15px 0 15px;
}

.Player-img {
    height: 100%;
    border-radius: 3px;
}

.Row-flex {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.Time-cont {
    margin: 0 2px 0 2px;
}

.Ellipsis {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2px;
    float: left;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #d46a6a;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}