@font-face {
  font-family: "Monument Extended Regular";
  src: local("MonumentExtended-Regular"),
    url("./fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Monument Extended Bold";
  src: local("MonumentExtended-Bold"),
    url("./fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

h1 {
  font-family: "Monument Extended Bold";
}

p {
  font-family: 'Space Grotesk', sans-serif;
}

th {
  text-align: left;
}

td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Playlist-header {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.Covers-grid {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

.Covers-grid img {
  height: 50%;
  aspect-ratio: 1/1;
}

.Like-cell {
  text-align: right;
}

.Like-icon:hover {
  filter: drop-shadow(0px 0px 1px black);
}

.Default-image {
  background-image: url('./images/no-image-icon.png');
  background-size: contain;
}

.Clickable-span {
  cursor: pointer;
}

.Clickable-span:hover {
  text-decoration: underline;
}