@import-normalize;

@font-face {
  font-family: "Monument Extended Regular";
  src: local("MonumentExtended-Regular"),
    url("./fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Monument Extended Bold";
  src: local("MonumentExtended-Bold"),
    url("./fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {

  --background-color: rgb(255, 0, 0);
  --gradient-color-1: rgb(54, 80, 49);
  --gradient-color-2: #3d636d;
  --header-color-1: white;
  --font-color-1: white;
  --font-color-2: #b10000;
  --font-size-1: 12px;

  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--font-color-1);
}

.Background {
  z-index: -1;
  position: absolute;
  background: linear-gradient(to right, var(--gradient-color-1) 10%, var(--gradient-color-2) 60%, var(--background-color));
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.Background::before {
  content: "";
  display: block;
  height: 100%;
  background: linear-gradient(to right, var(--background-color), var(--background-color));
  filter: contrast(170%) brightness(100%);
  -webkit-mask: linear-gradient(to bottom, #0000, #000 200px), url(https://grainy-gradients.vercel.app/noise.svg);
  mask: linear-gradient(to bottom, #0000, #000 200px), url(https://grainy-gradients.vercel.app/noise.svg);
}

h1 {
  font-family: "Monument Extended Bold", sans-serif;
  color: var(--header-color-1);
}

p {
  font-family: 'Space Grotesk', sans-serif;
}

span {
  font-size: var(--font-size-1);
  color: var(--font-color-1);
}

#root {
  position: relative;
}